﻿body {
}

.Currency-AED:before {
    content: "AED ";
    /*content: "ر.س";*/
    /*color: #72bf66;*/
    font-style: normal;
    
}

.Currency-AEDOrg:before {
    content: "AED ";
    /*content: "ر.س";*/
    color: #ff9900;
    font-style: normal;
}

.Currency-SAR:before {
    content: "SAR ";
    /*color: #72bf66;*/
    font-style: normal;
}

.Currency-SAROrg:before {
    content: "SAR ";
    color: #ff9900;
    font-style: normal;
}