﻿body {
}
        @page {
            size: A3 portrait;
            margin: 0.5cm;
            /*page-break-after:avoid;*/
        }

        @media print {




            .page {
                page-break-after: avoid;
            }
        }
