﻿ /*div.scrollingDiv {
            width: auto;
            height: auto;
            overflow: scroll;
            cursor:pointer
        }*/
         div.scrollmodal {
            width: auto;
            height: 50vh;
            overflow-y: scroll;
        }
         div.Iframe {
            width: auto;
            height: 80vh;
            overflow-y: scroll;
        }
                 div.scrollmodal::-webkit-scrollbar
{
  width: 4px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #ff9900;
}
        @media only screen and (max-width: 767px) {

            span {
                font-size: .8em;
            }
            ::-webkit-scrollbar
{
  width: 2px;  /* for vertical scrollbars */
  height: 15px; /* for horizontal scrollbars */
}
        }