/*============= Default styles for HTML 4 ============*/
html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 0px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 0px; padding: 0;}
ol              { list-style-type: decimal; margin-left: 20px; }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: none }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
  h1            { page-break-before: always }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}

/*=========================================================*/



body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4b4b4b;
	line-height:18px;
}

/* General Styles */

.clear {
	clear:both;
}
h1, h2, h3, h4 {
	
}
h1 a, h2 a, h3 a, h4 a {
	color:#3D3D3D;
}


.clear {
	clear:both;
	height:0px;
}

blockquote {
	font-style:italic;
	margin-left:2em;
}


#header,
#main,
#top-menu,
#footer {
    width: 1110px;
	margin:auto;
	}

	
#top-menu .widget_menubar{
	    float: right;
    padding-right: 25px;
    width: 335px;}

	
#top-menu .languages{
	float:right;
	width:82px;}


	
		
/* Main layout */


#wrapper {
	width:100%;
	margin:auto;
	height:100%;
}

#main {
	margin:auto;
	height:100%;
	position:relative;
	overflow:hidden;
    padding-top: 12px;
}


#main-content {
}

.entry-content a.video-link {
	background:url(images/video.jpg) top left no-repeat;
	display:block;
	width:365px;
	height:98px;
	margin:auto;
	color:#000;
	text-indent:-999em;
	border:none;
}

.entry-content a.video-link:hover{
	background-position:left -98px;
	border:none;
	}

	
/*======top row====*/	

.top-menu-row{
	height:44px;
	background:#c02929;
	}

.top-menu{
	width:1110px;
	margin:auto;}

	
.top-menu ul li{
	display:inline;
    padding: 0 37px;
	}

	
.top-menu ul li a{
	color:#fff;
	line-height:44px;}

	
ul.top{
	margin:0;}

	

/* ===== HEADER ===== */

#header{
	overflow:hidden;
	}

#header-row{
	width:100%;
	overflow:hidden;
}

#header-top{
	width:100%;
	background:#333;
	border-bottom:1px solid #f4f4f4;
	height:31px;
	}

	
#header-top-bg{
	border-bottom:1px solid #22331b;
	}

#top-menu h3{
	display:none;}

	
#top-menu .menubar-widget{
	border:none;}

	
.header-widgets {
	float:right;
}

#branding {
	float:left;
}

h2#site-title{
    margin: 10px 0 20px;
	}

#site-title a {
	background:url(images/logo.png) center left no-repeat;
	width:375px;
	height:70px;
	display:block;
	border:none;
	outline:none;
	text-indent:-999em;
}

div#site-description {
	display:none;
}

.header-right .menus {
	overflow:hidden;
}

.header-right {
	float:right;
	text-align:right;
	overflow:hidden;
    margin-top: 27px;
	width:490px;
}


.breadcrumbs {
	color:#706f6f;
	font-size:11px;
	line-height:30px;
	float:left;
	width:550px;
}
.breadcrumbs a {
	color:#706f6f;
	text-decoration:none;
}
.breadcrumbs a:hover {
	text-decoration:none;
	color:#fff;
}
body.home .breadcrumbs {
	display:none;
}

.page-heading > a,
.page-title > a{
	width:32px;
	display:block;
	float:right;}


.links .chat, 
.links .samples,
a.feed,
a.twitter, a.youtube{
	background:url(images/icons.png) no-repeat;
	display:block;
	height:32px;
	overflow:hidden;
	border:none;
	}	

	
.links .chat, 
.links .samples{
	float:left;
}

	
.links .chat{
	background-position: left -192px;}

	
.links .chat:hover{
	background-position: left -224px;
	cursor:pointer;
	}

	
.links .samples{
	background-position:left -256px;
	margin-left:15px;
	}

	
.links .samples:hover{
	background-position:left -288px;
	cursor:pointer;
	}

#menubar-4 li a.nolink {cursor:default;}
	

	
/*Header right menu*/

.header-right ul{
    float: right;
    overflow: hidden;
	margin:0;
	}

	
ul.hr-menu{
	margin-bottom:12px;}

ul.hr-menu li{
	float:left;}

ul.hr-menu li a{	
color:#666666;
background:url(images/top-menu-icons.png) no-repeat;
font-size:12px;
padding:0 20px;
}

ul.hr-menu li a.cart{
	background-position: left 0;
	}

ul.hr-menu li a.about{
	background-position: left -21px;
}

ul.hr-menu li a.sitemap{
	background-position: left -39px;
}

ul.hr-menu li a.support{
	background-position: left -63px;
}

ul.hr-menu li a.testimonials{
	background-position: left -85px; 
}


ul.hr-menu li a:hover{
	color:#c02929;}

	
ul.hr-menu li.last a{
	padding-right:0;
	}




	
	
	

	
#content a.sample-button,
#content a.live-demo-button{
	background:url(images/icons.png) no-repeat;
	display:block;
	height:32px;
	overflow:hidden;
	border:none;
}

ul.account-menu li{
	float:left;
	}

	
ul.account-menu li a{
	padding:0 16px;
	background:url(images/list-item-bg.png) top right no-repeat;
	}

	
ul.account-menu li.last a{
	background:none;
	padding-right:0;
	}

	
ul.account-menu li a:hover{
	text-decoration:underline;
	}


	





	
#content a.sample-button{
	background-position:left -64px;
	}

	
#content a.sample-button:hover{
	background-position:left -96px;
	}

#content a.live-demo-button{
	background-position:left -128px;
}

#content a.live-demo-button:hover{
	background-position:left -160px;
}

a.feed{
	background-position: left -320px;
	line-height:1px;
	text-indent:-999em;
	font-size:1px;
	float:right;
	}

	
a.twitter{
	background-position: left -384px;
}

a.youtube{
	background-position: left -512px;
}

a.feed, a.twitter, a.youtube{
    position: absolute;
    top: 16px;
		}


#index a.feed,
#index a.twitter, #index a.youtube{
    position: absolute;
    top: 24px;
		}

		
a.feed{
	right:10px;}

	
a.twitter{
	right:42px;}

a.youtube{
	right:74px;}
	
a.twitter:hover{
	background-position: left -416px;}

a.feed:hover{
	background-position: left -352px;}
	
a.youtube:hover{
	background-position: left -542px;}

a.sample-button,
a.live-demo-button{
	display:block;
	line-height:32px;
	width:72px;
	padding-left:40px;
}


	
.links{
    overflow: hidden;
    position: relative;
    top: 5px;
	}

	
div.twitter{
	width:90px;
	}

	
div.twitter span.title{
	font-size:11px;
	color:#333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}

	
div.twitter span{
	font-size:21px;
	display:block;
	text-align:center;}


	
	

/*==CONTENT_TOP===*/

.content-top{
	overflow:hidden;
	position:relative;
    margin-bottom: 45px;
	padding-top: 10px;
	}

	
.content-top .widget_qtranslate h3,
.content-top .widget_menubar h3{
	display:none;}

	
.content-top .widget_qtranslate{
    position: absolute;
    right: 0;
    top: 10px;
	}

	
.content-top .widget_menubar{
    position: absolute;
    right: 10px;
	top: 62px;
    z-index: 10;
	}

	
.content-top h3.widget-title{
	border-bottom:1px dotted #a3a4a7;
    padding-left: 10px;
	}

	
#container .menubar-widget .ssf-green-wrap,
#container .menubar-widget{
	border:none;}




	
#container .menubar-widget ul.menubar li{
	display:inline;
	border:none;
	width:auto;
	float:left;
	background:url(images/list-item-bg.png) no-repeat;
	background-position: right 12px;
	padding:0 18px 0 18px;
	}

	
#container .menubar-widget ul.menubar li.last{
	background:none;
	padding-right:0;}


	
	
/*==SEARCH==*/


#searchform label,
#searchform input{
	display:block;
	float:left;
	margin-right:5px;
	}

	
#searchform{
    overflow: hidden;
    position: relative;
    margin: 20px 0 0 10px;
	}


	
	
#searchform #s, #feedback_inner .wpcf7 input, #feedback_inner .wpcf7 textarea{
	border:1px solid #cecece;
	background:url(images/input-bg.jpg) top left repeat-x #F2F4F6;
	padding: 0 5px;
	height:23px;
	line-height:23px;
	width:240px;
	}

	

input::-moz-focus-inner /*Remove button padding in FF*/{ 
    border: 0 !important;
    padding: 0 !important;
}

input{
    padding: 0 .25em;
    width: 10; /* for IE only */
    overflow: visible;
}

input[id] { /* IE ignores [class] */
    width: 100;
}

#searchform #searchsubmit, #filter #clear, #feedback_inner .wpcf7-submit{
    background: none repeat scroll 0 0 #4396CA!important;
    border: 1px solid #4396CA!important;
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
    line-height: 23px;
    padding: 0 10px;
    font-size: 12px;
	}

	
#searchform #searchsubmit:hover{
	cursor:pointer;
	background:#c02929;
    border: 1px solid #c02929;

}


ul.desc-links {
	margin:20px 0!important;
	display:block;
	overflow:hidden;
	background:#f5f5f5;
}

#samples-page ul.desc-links{
	margin:0;} 

ul.desc-links li {
	float:left;
	background:none !important;
	padding:0.5em;
}

p.live-available {
	line-height:35px;
}
p.no-sample {
	display:block;
	color:#d61a1a;
	line-height:40px;
}




/*===LANGUAGE SELECTOR===*/
.widget_qtranslate {
	float:left;
	width:116px;
}

.widget_mqtranslate {
	float:right;
	width:116px;
}

ul.qtrans_language_chooser {
	overflow:hidden;
	position:relative;
	margin:0;
	top:5px;

}

ul.qtrans_language_chooser li {
	display:inline;
	float:left;
	width:21px;
	line-height:30px;
}

.languages span {
	float:left;
	color:#fff;
}
.qtrans_flag {
	border:1px solid #000000;
	display:block;
	height:12px;
	width:18px;
}
ul#qtranslate-3-chooser li {
	padding:2px;
	margin:2px;
}

ul#qtranslate-3-chooser li.active {
}

ul#mqtranslate-3-chooser li {
	padding:2px;
	margin:2px;
}

ul#mqtranslate-3-chooser li.active {
}



/*==================SUPERFISH MENUS (Aug 16 2011)===================*/

.menubar, .menubar * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.menubar ul {
    margin-left: -11px;
    position: absolute;
    top: -999em;
    width: 240px;
	}

	
.menubar ul ul {
    margin-left: 5px;
}	
.menubar ul li {
	width:			100%;
}
.menubar li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.menubar li {
	float:			left;
	position:		relative;
	width:			100%;
}


.menubar a {
	display:		block;
	position:		relative;
    line-height: 35px;
	}

	
.menubar li:hover ul{
	left:			227px;
	top:			0; /* match top ul list item height */
	z-index:		99;
}
ul.menubar li:hover li ul{
	top:			-999em;
}
ul.menubar li li:hover ul{
	left:			235px; /* match ul width */
	top:			0;
}
ul.menubar li li:hover li ul{
	top:			-999em;
}
ul.menubar li li li:hover ul{
	left:			230px; /* match ul width */
	top:			0;
}

#column-left ul.menubar > li > a{
	display:block;
	height:40px;}

	
#column-left ul.menubar li ul li a{
	display:block;
	}
	
#column-left ul.menubar.ssf-red ul li a, 
#column-left ul.menubar.ssf-red ul ul li a {
    line-height: 18px;
    padding: 10px 24px !important;
}

.ssf-green li.actives > a,
.ssf-green li > a:hover,
.ssf-green li.selected > a:hover, .ssf-green li.selected > a{ 
	color:#FFFFFF!important;
 	background: none repeat scroll 0 0 #4396CA!important;
	}

/*sidebar menus*/

#column-left .menubar li a{
	padding: 0 24px;
	}

	
.menubar-widget{
	border:1px solid #c0c0c0;
	border-top:2px solid #5c5c5c;
	}

	
.ssf-red-wrap,
.ssf-green-wrap{
	border:1px solid #fff;}


ul.menubar li{
	position:relative;}

ul.menubar li span.arrow{
	background:url(images/arrows.gif) no-repeat;
	width:10px;
	height:10px;
	display:block;
	background-position: left 3px;
	position:absolute;
	top:13px;
	right:15px;
	}

	
ul.menubar li.actives > span.arrow{
	background-position: 1px -8px;
	}

	
#primary .widget-container.widget_menubar{
	padding-top:10px}

#column-left .menubar li a, .ssf-green li a, a.feed, a.twitter, a.youtube, #back-top a {
	
transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s; /* Firefox 4 */
-webkit-transition: all 0.5s ease 0s; /* Safari and Chrome */
-o-transition: all 0.5s ease 0s; /* Opera */
}


/*========INDEX PAGE ( Aug 15 2011 )=============*/


#post-box.index .ratingblock {
	display:none;
}
#post-box .ratingblock, #post-box .thumblock {
	margin:0 auto;
}

#index h2,
h1.single,
h1.page-title,
h2.entry-title,
h1.entry-title{
	font-size:48px;
    line-height: 48px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#272727;
	font-weight:normal;
	margin:0;
	border-bottom:1px dotted #c0c0c0;
	letter-spacing:-2px;
  	padding:10px;
	position:relative;
	}

	
#index h2{
  	padding:10px;
    margin-top: 50px;
    margin-bottom: 40px;
}

	
h1.entry-title,
h1.page-title,
h2.entry-title{
	font-size:39px;
	line-height:36px;
    }

	
h1.page-title{
	margin-bottom:20px;}



	
	
	
#post-box{
	border-top:1px solid #fff;
    padding: 0 12px;}


	
		
#samples-page #post-box .post h3{
	margin-bottom:20px;
	}

#post-box .post{
	border-bottom:1px solid #fff;
	overflow:hidden;
	margin-bottom:48px;
	}

	
#post-box .featured-img img{
	display:block;
	width:164px;
	height:164px;
	float:left;
	margin-right:24px;
	border:1px solid #c0c0c0;
	margin-top:0px;
	transition:0.9s;
    transform-style: preserve-3d;
	}

#post-box .featured-img img:hover{
   -webkit-transform: rotateY(360deg);
   -moz-transform: rotateY(360deg);
   -o-transform: rotateY(360deg);
   border: 1px solid #C02929;
}	

#post-box .entry-content h3.entry-title,
h3.entry-title{
    color: #3b3b3b;
    font-size: 21px;
    line-height: 24px;
    margin: 10px 0;
	font-weight:normal;
	letter-spacing:-1px;
}
	
#post-box .post p a img {
    margin: 0 20px 0 0;
    padding: 20px;
	}	

	
.details {
	font-size:11px;
	color: #4b4b4b;
	background:#f2f2f2;
	padding: 0 12px;
	line-height:23px;
	height:24px;
}

.details a{
	color: #4b4b4b;}

	
.details a:hover{
	color:#4396ca;
	}

.heading{
	overflow:hidden;
	margin-bottom:10px;}

	
.excerpt{
	padding-left: 2px;}

	
.excerpt p{
	margin:0;}

	
.excerpt p.tickets, 
.excerpt p.attention, 
.excerpt p.warning, 
.excerpt p.tip{
background:none;
border:none;
margin:0;
padding:0;
font-weight:normal;}

	
.content-faq .page .entry-content{
	display:none;}

	
div.faq dd .entry-content{
	border:none;	
	}

	
span.tip-title{
	position:relative;
	text-decoration:underline;
	}

	
span.tip-content{
	position:absolute;
	z-index:20;
	padding:12px;
	border:1px solid #333;
	background:#ccc;
	color:#333;
	font-size:10px;
	line-height:15px;
	display:none;
	margin:24px 0 0 24px;
	width:200px;
	}

	
/*=========SINGLE ENTRY / CATEGORY ( Aug 17 2011 )=============*/


.meta-left, 
.meta-right{
	float:left;
	}

	
.meta-left
{
width:70%;
}

.meta-right
{
width:30%;
}
	
.meta-right .views{
margin-left:100px;}

	

.entry-content{
    padding: 10px;
	}

	
.entry-content a{
	text-decoration:none;
	border-bottom:1px solid #c02929;
	background:url(images/ext-link.gif) no-repeat;
	background-position: right -4px;
	padding-right:12px;
	position:static;
	}

	
.entry-content a:hover{
	color:#333;
	border-bottom:1px solid #333;
	background-position: right -27px;}


	
.entry-meta,
.archive-meta,
p.search-results-count{
    border-bottom: 1px dotted #C0C0C0;
	overflow: hidden;
    padding: 10px;
	display:block;
	margin:0;
	font-size:11px;
	line-height:18px;
	}
	




.archive-meta p{
	margin:0;}

.entry-footer{

	background:#f5f5f5;
	overflow: hidden;
    padding-bottom: 30px;
    position: relative;
	}

.addthis_toolbox{


	padding: 30px 30px 0;
	}

.entry-utility {
    color: #999999;
    font-size: 11px;
    left: 240px;
    line-height: 18px;
    position: absolute;
    top: 110px;
    width: 475px;
	}

.related-posts{

    padding: 12px 30px 0;

	}

.related-posts > p,
.related-posts ol li a{
	font-weight:bold;}


	
	
.entry-footer .widget-container{
	padding: 0 30px;}

	

.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {
white-space:pre-wrap !important;}

.example_code{
	padding:20px;
	border:1px solid #e3c555;
	background:#fdf7df;}

.page-columns{
	padding: 10px;
	border-top: 1px solid #fff;
	}

		
.page-columns > div{
	padding-bottom:10px;}

	
.page-columns ol{
	margin:0 0 0 20px;
	}

		
ol.tutorial-links li{
	padding: 0 10px;
	height:24px;
	line-height:24px;
	}

	
ol.tutorial-links li:nth-child(odd){
	background:#f5f5f5;
	}

	
ol.tutorial-links li a{
	display:block;
	color:#000;
	background:none;
	border:none;}

	
ol.tutorial-links li:hover{
	background:#2b6aa5 !important;
}

	
ol.tutorial-links li:hover a{
	color:#fff;}

	
ol.tutorial-links li a:hover{
	background:none;
	border:none;}

	
ul.guide-tutorials{
	margin-left:24px;}

	
ul.guide-tutorials li{
	background:url(images/guide-tut-icon.png) no-repeat;
	background-position: left top;
	line-height:24px;
	height:24px;
	padding-left:24px;}

	
ul.guide-tutorials li:hover{
	background-position: left bottom;
	}

	
ul.guide-tutorials li a,
ul.guide-tutorials li a:hover{
	color:#333;
	background:none;
	border:none;}

	
ul.guide-tutorials li:hover a,
ul.guide-tutorials li a:hover{
	color:#35629e;}

	
a.readmore{
	font-weight:bold;
	color:#4396ca;
	background:url(images/readmore-icon.png) no-repeat;
	background-position: left 2px;
    padding-left: 20px; 
    position: relative;
    top: 5px;
	text-decoration:underline;
	}

	
a.readmore:hover{
	color:#c02929;
	}

	
#content.tutorials-list{
	padding-bottom:20px;}

	
.tut-inner{
	padding-left:20px;}

	
.tuts-inner-container h5{
	font-size:12px;}

	
.page-columns h3.godaddy{
	background:url(images/godaddy.png) no-repeat #333;
	background-position: 12px 0;
	padding-left:42px;
	}

	
.excerpt a.darkbox{
	margin:12px 0;
	background:none;}

.comment-box {
	border-top:1px solid #fff;
	padding:30px 30px 0;
}

























/*=========SIDEBAR ( Aug 17 2011 )=============*/

#column-left{
	float:left;
	width:220px;
	position:relative;
	z-index:10;
	}

	
h3.widget-title{
    color: #3b3b3b;
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 48px;
    margin: 0;
    padding-left: 24px;
	font-weight:normal;
	}


	
/* ==== CENTER COLUMN ===== */

#container {
	overflow:hidden;
	float:right;
    width: 835px;
	height:100%;
	position:relative;
	z-index:5;
}

#content {
	padding: 0;
}

.column-center {
	float:right;
	width:73%;
	margin-top:20px;
}
.column-center .title h2 {
	text-transform:uppercase;
	padding-bottom:12px;
	border-bottom:1px solid #999999;
	margin:11px 0;
}
.navigation .alignleft a {
	color:#CCC;
}

.comments .title-page h3 {
	border-bottom:1px solid #999999;
	margin-bottom:15px;
	padding-bottom:5px;
}

p.nocomments{display:none;}



/*============RSS LIST==================*/

#post-box .rss-news.internal > h2,
#post-box .rss-news.external > h2{
margin-left:30px;
margin-right:30px;
}


#post-box .rss-item,
#post-box .rss-news .post{
	padding:20px 30px 20px 40px;
	border-bottom:1px solid #fff;
}

#post-box  .rss-news .rss-item h2,
#post-box  .rss-news .rss-item h3{
    color: #2D2D2D;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 21px;
    line-height: 24px;
    padding-top: 4px;	
	padding-bottom:5px;
	margin:0;
	font-style:normal;
	background:none;
}

	

/*============ENTRY CONTENT==================*/

p.templateID {
	font-weight:bold;
}
p.templateID span {
	font-weight:bold;
	color:#FF0000;
}

p.tickets,
p.attention,
p.warning,
p.tip, p.info-box{
 	padding: 12px 24px 12px 60px;
	font-weight:bold;
	margin: 2em 0;
}

p.tickets,
p.attention{
	background: url(images/attention.png) no-repeat 12px 50% #FDF7DF;
	border:1px solid #e3c555;
	}

p.warning{
	background:url(images/warning.png) no-repeat 12px 50% #ffeded;
	border:1px solid #ff93a4;}

	
p.tip{
	background:url(images/tip.png) no-repeat 12px 50% #eeffdd;
	border:1px solid #abc15f;}

p.info-box {background: url("images/icon-info.png") no-repeat scroll 10px 50% #BFE4F9; color: #2E6093; border: 1px solid #68A2CF; padding:12px 24px 12px 80px; min-height:40px;}

a.darkbox{
	display: block;
    margin-bottom: 20px;
    overflow: hidden;
	padding:0;
	border:none;
	background:#f5f5f5;
	position:relative;}

	

a.darkbox:hover{
	border: none;}

#single-post .entry-content a.darkbox {
	background:none;
	margin:0px auto;
	text-align:center;
	width:100%;
	max-width:300px;
	display: block;
    overflow: hidden;
	border:none;
	padding:0;
	position:relative;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

#single-post a.darkbox:hover{
	-webkit-box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 0;
    border: none;
	}

#single-post .darkbox > img
{
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

#single-post .darkbox:hover > img
{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

#single-post .darkbox:after
{
	opacity: 0;
	position: absolute;
	top: 0;
	content:"";
	left: 0;
	width: 100%;
	height: 100%;
	background: url("images/magnifier.png") no-repeat center rgba(24, 24, 24, 0.3);
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	cursor: pointer;
}

#single-post .darkbox:hover:after
{
	opacity: 1;
}

#single-post .entry-content{
	padding:10px}


#single-post h3,
.page-columns h3,
div.faq > h3,
.entry-content h3,
.rss-news h2{
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-family: Times New Roman;
    font-size: 21px;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0 1em;
    padding: 5px 12px;
	}

div.accordion dt {
	cursor:pointer;
}

/*added by Alex 20.11.2013*/
div.accordion .ui-icon.ui-icon-triangle-1-e, div.accordion .ui-icon.ui-icon-triangle-1-s 
{
   float: right;
    height: 30px;
    width: 30px;
}

div.accordion .ui-icon.ui-icon-triangle-1-e {
    background: url("images/slider_plus.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
 }

div.accordion .ui-icon.ui-icon-triangle-1-s {
    background: url("images/slider_minus.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}

div.accordion dd {
padding:0;
}

#single-post .entry-content h3.custom, .page .entry-content h3.custom {background:#4396CA;}
	
.entry-content ul.post-list,
.entry-content ol.post-list{
	margin-left:24px;}

	
.entry-content ol.post-list{
	margin-left:48px;}

	
.entry-content ul.post-list li{
	background:url(images/art-list-li.png) no-repeat;
	background-position:left 8px;
	padding-left:12px;}

		
span.enlarge {
	display:block;
	font-size:10px;
	margin-bottom:1em;
}
.entry-content .pfButton img {
	width:16px;
	float:none;
	border:none;
}
.ratingblock {
	float:right;
	position:relative;
	right:0;
	font-size:1em !important;
}
.gdthumbtext {
	margin-left:1em;
}

.ratingtext {
	color:#595959;
	font-weight:normal;
	padding-bottom:0 !important;
	font-size:1em !important;
}


span.sup{
	vertical-align:super;
}

span.sup a,
span.sup a:hover{
	text-decoration:none;
	font-size:0.8em;
	color:#090;
	background:none;
	border:none;
}

.footnote{
	background: none repeat scroll 0 0 #DFDFDF;
	font-size: 11px;
	margin-bottom: 20px;
	padding: 5px 20px;
}



	
	
	
dt{
	font-weight:bold;}

	
dd{
	margin-bottom:24px;}

	

/* Darkbox */
.darkbox-frame {
	position:fixed;
	top:0;
	left:0;
	display:none;
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:999;
}
.darkbox-frame-on {
	display:block;
}

/* Shadow */
.darkbox-shadow {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
}

/* Canvas */
.darkbox-canvas {
	position:absolute;
	top:50%;
	left:50%;
	overflow:hidden;
	margin:-40px 0 0 -40px;
	width:80px;
	height:80px;
	background:#000 url(images/spinner.gif) 50% 50% no-repeat;
	opacity:.5;
}
.darkbox-canvas img {
	display:block;
	visibility:hidden;
	border:4px solid #fff;
}
.darkbox-canvas-load {
	background-image:none;
}
.darkbox-canvas-done {
	overflow:visible;
	opacity:1;
}
.darkbox-canvas-done img {
	visibility:visible;
	opacity:0;
}

/* Button */
.darkbox-button {
	position:absolute;
	top:-13px;
	width:31px;
	height:31px;
	background:url(images/lightbox-btn-close.png) no-repeat;
	cursor:pointer;
	z-index:1;
	display:none;
}

.darkbox-button-on {
	display:block;
}
.darkbox-button-left {
	left:-16px;
}
.darkbox-button-right {
	right:-16px;
}


/*=========FAQ Page Layout (Jul 2011)==========*/

div.faq{
	padding: 10px 30px;}

dl.accordion dt a{
	font-weight:normal;
	font-size:12px;
	padding-right:25px;
	line-height: 30px;
	color:#333;
	display:block;
	border:none;}

	
dl.accordion dt a:hover{
color:#fff;
border:none;
}

dl.accordion dt.ui-state-active a,
dl.accordion dt.ui-state-active span{
background:url(images/slider_minus.gif) no-repeat;
background-position: right 8px;} 

dl.accordion dt.ui-state-default a,
dl.accordion dt.ui-state-default span{

background:url(images/slider_plus.gif) no-repeat;
background-position: right 8px;} 

dl.accordion dt{
    background:#f5f5f5;
    border: 1px solid #f5f5f5;
	color:#333;
    font-size: 13px;
    line-height: 30px;
    padding: 0 12px;
	cursor:pointer;
	margin:6px 0;
}

dl.accordion dt.ui-state-hover{
	background:#4396ca;
    border: 1px solid #4396ca;
	color:#fff;}

	
dl.accordion dt.ui-state-hover > a{
	color:#fff;}

dl.accordion.tuts-inner dt span{
	display:block;
	font-weight:bold;
}

dl.accordion.tuts-inner dd,
ol.tutorial-links,
h4.tutorials-list-title{
	padding-left:12px;}

	
.accordion dd {
	display:none;
	overflow:hidden; /*important for accordeon*/
	text-transform:none;
	padding: 0 20px;
	}

	
.accordion dd .entry-content{
	border:none;
	padding:0;}

	
.accordion dd .entry-content a.darkbox{
	float:none;
	}

dl.accordion{
	margin:6px 0;}

.list-layout{
    margin-left: 40px;
    padding: 20px 30px;
	}

	
.layout_switch {
    background: none repeat scroll 0 0 #C0C0C0;
    font-size: 10px;
    padding: 0 5px;
    position: absolute;
    right: 30px;
    z-index: 20;
	}

.layout_switch a{
    color: #FFFFFF;
    margin: 0 3px;
}

.layout_switch a:hover{
	color:#000;
	}

div.banner a,
div.banner a:hover{
border:none;
background:none;
}

div.banner.right{
float:right;
margin-left:20px;}

div.banner.center{
    margin: 20px auto 0;
    text-align: center;
}

	.table{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:11px;
		line-height:16px;}
	.table table{
		text-align:center;
		border-collapse:collapse;}
	.table .heading{
		font-weight:bold;}
	.table tr td:first-child{
		text-align:left;
		font-weight:bold;
		padding:5px;}
	.table table .title{
		position:relative;}
	.tip{
		display:none;
		background:#f0f0f1;
		color:#333333;
		font-size:11px;
		padding:5px;
		border:1px solid #c0c0c0;
		position:absolute;
		top:0px;
		left:100px;
		width:200px;
		z-index:20;
		font-weight:normal;
		}
	.tip.active{
		display:block;
		}

	.table .green{background:#8dda55;}
	.table .red{background:#ff9b9b;}
	.table .yellow{background:#ffe474;}

/*==========SITE MAP PAGE LAYOUT=========*/


#site-map-page .page-columns {
	padding-left:5px;
}
#site-map-page h2.product-type-title {
	border-bottom:2px solid #ccc;
	margin-bottom:1em;
	margin-top:1em;
	padding-bottom:3px;
}
.sitemap-product-list {
	float:left;
	width:46%;
	margin-left:3em;
}


/*===========SEARCH RESULTS=======*/


p.search-results-count {
}
ol.search-results {
	margin-left:2em;
}

ol.search-results > li {
	padding:1em 2em;
	line-height:27px;
	overflow:hidden;
}
ol.search-results li img, ol.search-results li ul.desc-links {
	display:none;
}



/*========PRODUCT DESCRIPTION (07.20.11)=========*/

.image-req{
	overflow:hidden;}

	
.product-image{
	width:300px;
	float:left;
	margin-right:20px;}

	
.product-image a.darkbox{
	padding:0 !important;
	border:none !important;
	background:none !important;}

	
.product-requirements{
	float:left;
	}

/*files-structure list styles*/
ul.files-structure{
	    margin-left: 24px;}

ul.files-structure li{
	line-height:24px;
	list-style:none;
	font-size:12px;
	}

	
ul.files-structure li strong{
	font-size:13px;}

ul.files-structure li.lev-1::before, ul.files-structure li.lev-2::before, ul.files-structure li.lev-3::before, ul.files-structure li.file::before, ul.files-structure li.file.lev-2::before, ul.files-structure li.file.lev-3::before {
	background:url(images/file-struct.png) no-repeat;
	content:"";
	display:inline-block;
	width: 20px;
	height: 19px;
	vertical-align: top;
	}

ul.files-structure li.lev-2::before {
	background-position:left -38px;
	padding-left:15px;
	margin-left:6px;
	}

	
ul.files-structure li.lev-3::before {
	background-position:left -38px;
	padding-left:15px;
	margin-left:24px;
	}

	
ul.files-structure li.file::before {
	background-position:left -19px;
	margin-left:0px;
}

ul.files-structure li.file.lev-2::before {
	background-position:left -19px;
	margin-left: 8px;
    padding-left: 0px;
	}

	
ul.files-structure li.file.lev-3::before {
	background-position:left -19px;
	margin-left: 25px;
    padding-left: 0px;
	}


/* ==== FOOTER ===== */

#footer-row {
	width:100%;
	height:50px;
	margin-top:20px;
}

#footer-bg{
	}


#footer {
	color:#222222;
	text-align:center;
	font-size:12px;
	border-top:2px solid #2a3333;
}

#footer a {
	color:#222222;
	text-decoration:none;
}

#colophon a:hover {
	color:#fff;
}

#back-top a{
	background:url(images/icons.png) no-repeat ;
background-position:left -480px;
    height: 32px;
    margin-top: -42px;
    position: fixed;
    right: 18px;
    top: 100%;
    width: 32px;
    z-index: 999;
	}

	
#back-top{
	background:url(images/pixel.gif) top left repeat;
	}


	
#back-top a:hover{
	background-position:left -448px;
}




/*Footer links*/

#footer .footer-links ul li{
	display:inline;
	}

	
#footer .footer-links a:hover{
	text-decoration:underline;}

.section .accordion .box {
  display: none;
}

.section .accordion .box.visible {
  display: block;
}

.section ul.tabs li {display:inline-block; margin-right:5px; cursor: pointer;}

/*explanatory dictionary*/

.domtooltips{
  position: relative;
}

.domtooltips_tooltip{
  position: absolute;
  z-index: 100;
}

.domtooltips_tooltip:hover{
  cursor: auto;
}

.explanatory_dictionary a{
  text-decoration: none;
}

.explanatory_dictionary a:hover, .explanatory_dictionary a.explanatory_dictionary_selected_letter{
  text-decoration: underline;
}

.explanatory_dictionary div.explanatory_dictionary_first{
  margin-top: 10px;
}

.explanatory_dictionary span.explanatory_dictionary_word{
  font-weight: bold;
}

.domtooltips_tooltip {
    background: none repeat scroll 0 0 #FDF7DF;
    border: 1px solid #214579;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    padding: 5px 10px;
    text-align: justify;
    text-decoration: none;
    text-transform: none;
    width: 250px;
}

.domtooltips {
    color: #750909;
    cursor: help;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
	border-bottom: 2px dotted black;
} 

.entry-footer .bottom_banner a {width: 835px; margin: auto; height: 100px; display:block;}

.entry-footer .bottom_banner a#en {background:url("/help/wp-content/uploads/2012/05/tm_banner_eng.jpg") no-repeat scroll 0 0 transparent;}
.entry-footer .bottom_banner a#es {background:url("/help/wp-content/uploads/2012/05/tm_banner_es.jpg") no-repeat scroll 0 0 transparent;}
.entry-footer .bottom_banner a#ru {background:url("/help/wp-content/uploads/2012/05/tm_banner_ru.jpg") no-repeat scroll 0 0 transparent;} 
.entry-footer .bottom_banner a#de {background:url("/help/wp-content/uploads/2012/05/tm_banner_de.jpg") no-repeat scroll 0 0 transparent;} 

.single #single-post .entry-content ul.list, .testi-tip ul.list {margin-left:20px;}
.single #single-post .entry-content ul.list li, .testi-tip ul.list li {background:url("images/li_bg3.gif") no-repeat scroll left 7px transparent; padding:0 0 0 12px;}

/*tutorials filter*/

#filter form {
	display:inline-block;
	margin: 0 0 0 5px;
	}
	
.page-columns #filter {
	border: 2px solid #4396CA;
    border-radius: 5px;
    padding: 10px;
}

#filter #clear {
	margin-left:5px;
}

#filter #clear:hover {
	cursor: pointer;
}

/*feedback form*/

#feedback_link {
	width: 35px;
    position: fixed;
    right: 0;
    top: 45%;
	transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
	-ms-transform:rotate(-90deg); 
	-webkit-transform: rotate(-90deg);
    cursor: pointer;
	z-index: 7;
}

#feedback_link #arrow {
    background:#000000;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
	text-transform: uppercase;
}

#feedback {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
	display:none;
}

#feedback_inner {
	border-radius: 5px;
    background:#E5F0F5;
    height: auto;
    margin: 0 auto;
    padding: 10px 10px 2px;
    position: relative;
    top: 25%;
    width: 340px;
}

#feedback_inner input[type="text"]:focus, #feedback_inner textarea:focus  {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
	-webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px;
}

#feedback_inner input[type="text"] {
width:156px!important;
}

#feedback_inner input, #feedback_inner textarea {
	border-radius: 6px;
}

#feedback_inner .wpcf7-form textarea {
    height: 200px;
    max-height: 280px;
    max-width: 328px;
    min-width: 328px;
    width: 328px;
}

#feedback_inner .wpcf7-form .wpcf7-submit{
	width:90px;
	background:background: #f85032; 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NTAzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNmY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MjkwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzM4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%)!important; /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)!important; /* IE10+ */
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)!important; /* W3C */;
	border: medium none !important;
	filter: none;
    height: 27px;
    left: 12px;
    position: relative;
    top: -5px;
    width: 90px;
}

#feedback_inner .wpcf7-form .wpcf7-submit:hover{
	cursor:pointer;
}

#feedback_inner span.wpcf7-not-valid-tip {
	left:0px;
	top:-12px;
	width:163px;
}

#feedback_inner .wpcf7-textarea+span.wpcf7-not-valid-tip {
	top: -188px;
    width: 336px;
}

#feedback_inner .wpcf7-form {
margin:0px;
}

.wpcf7-form p {
font-weight: bold;
display:inline-block;
margin: 0.5em 0;
}

.wpcf7-form p br::before {
 white-space:normal;
}

.wpcf7-form  #invite {
font-size: 12px;
font-style: italic;
font-weight: normal;
margin: 0 !important;
text-align: justify;
}

.wpcf7-form .ajax-loader {
display:inline-block;
}

.wpcf7-form  .wpcf7-captchar{
vertical-align: top;
}

#feedback_inner input.wpcf7-captchar {
    width: 120px !important;
	margin-left: 3px;
}

#feedback div.wpcf7 img.ajax-loader {
	margin: 0 0 10px 20px;	
}

.wpcf7-response-output {
	background:#FFFFFF;
}
/*feedback form end*/


.loadingpanel
{
    
    position: fixed;
    left: 50%;
    top: 60%;
    background-color: white;
    z-index: 100;
    height: 60px;
    margin-top: -300px;
    width: 60px;
    margin-left: -100px;
}
a {
  display: block;
}

.btn btn-primary fileinput-button
{
    cursor:hand;
    
 }
 .borderless table {
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: none;
border
}

.borderless td, .borderless th {
    border: none;
}
 .table.borderless td,table.borderless th{
     border: none !important;
}

.inputborder {
   
    border: 3px solid;
    border-color:#337ab7;
    
   
}

td { cursor: pointer; }

.selected{
    border-color:#ff0000;
    color:#ff0000;
}

table.dataTable tr td:first-child {
        text-align: center;
    }
 
    table.dataTable tr td:first-child:before {
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
 
    table.dataTable tr.selected td:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
 
    table.dataTable tr td.dataTables_empty:first-child:before {
        content: "";
    }
    
    
     html, body {
      overflow: hidden;
 }
 
 .editedRow {
          color: #b90f0f !important;
          font-style: italic;
 }
 
  .green {
            color: black;
            background-color: #b6ff00;
        }
        .yellow {
            color: black;
            background-color: yellow;
        }
        .red {
            color: black;
            background-color: #e83636;
        }

        .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
            color: black;
            background-color: #b6ff00;
        }
        .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
            color: black;
            background-color: yellow;
        }
        .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
            color: black;
            background-color: #e83636;
        }
        
        
         .editedCell
        {
            background-color: #ADD8E6 !important;
            color: White;
            font-style: italic;
        }
        
        .ui-jqgrid-hdiv { overflow-y: hidden; }
        
        .ui-jqgrid .ui-jqgrid-hdiv { overflow-y: hidden; }
        
        th {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

body 
{
background-color: #FFF;
       
background-image:url('/watermark.png');
background-repeat: no-repeat; /*background-position: center center;*/
background-position: center center;
background-attachment: fixed;
background-size: 60%; /* CSS3 only, but not really necessary if you make a large enough image */
margin-top: 0%;
margin-bottom: 0%;
width: 100%;
height: 0%;
z-index: 10;
       
 
       
 }

      
    .modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 400px;
		position: relative;
		margin: 3% auto auto auto  ;
		padding: 5px 20px 25px 20px;
		border-radius: 10px;
		background: #fff;
		margin-left="3px"
		
		
	}




    div#pop-up {
        display: none;
        position: absolute;
        width: 220px;
        padding: 10px;
        height: 130px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
      }


    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1)  {
   background-color: #FFF2FF;

}