/*
	Theme Name: National Cab - Taxi Company HTML5 Template
	Author: EraThemes
	Author URL: http://themeforest.net/user/erathemes
	Created: 01 Oct 2015
	Updated: 12 Oct 2015 
	Version: 1.0
*/

/*
	[Table of contents]

	## Global
		- Font Settings
		- Padding/Margin

	## Header
		- Top Header
			-- Social
			-- Top Menu
			-- Logo block
		- Navigation Menu
		- Social Icons

	## Footer
		- Copyright Text	
		
	## Responsive
		-- min-width: 992 to max-width: 1200
		-- min-width: 768 to max-width: 991
		-- min-width: 319 to max-width: 767
		-- min-width: 991
*/

/* ## Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #000;
	overflow-x: hidden;
}
img {
    max-width: 100%;
	height: auto;
}
a {
    outline: 0 !important;
}

/* - Font Settings */
.logo-block a b,
.ow-navigation .container > a,
.footer-main .widget-title,
.widget-about li ,
a.see-more ,
a.purchase ,
.section-header h3 ,
.choose-us-content-box h3,
.booking-details-form .btn,
.we-do-more h3,
.we-do-more h2,
.what-we-do-box span,
.what-we-do-content > a,
.what-we-do-content .more-service a,
.driver-info > h3,
.we-are-hire span,
.testimonial .carousel-inner p,
.testimonial .carousel-inner p span,
.get-mobile h3,
.get-mobile h2,
.statistics-box > span,
.blog-content .entry-title,
.book-taxi-form > h3,
.about > h3,
.about > h2,
.service-box > h3,
.service-box > h2,
.service-box.book-now a,
.page-heading > h3,
.blog-area h3 ,
.widget-title h3,
.online-booking-form .btn,
.contact-form form .btn,
.map .content h3,
.media-heading h3 {
	font-family: 'Cabin', sans-serif;
}

.subscribe-box h4,
.subscribe-box .input-group-btn > .btn,
.widget-about li:last-child span {
	font-family: 'Montserrat', sans-serif;
}

.contact-form form input,
.contact-form form textarea {
	font-family: 'Lato', sans-serif;
}

.photos-slider .carousel-caption h2,
a.purchase,
a.see-more,
.section-header h3 ,
.choose-us-content-box h3,
.choose-us-content-box a,
.booking-details-form .btn,
.we-do-more h3,
.we-do-more h2,
.what-we-do-box span,
.what-we-do-content > a,
.what-we-do-content .more-service a ,
.we-are-hire span,
.get-mobile h3,
.get-mobile h2,
.blog-content .entry-title,
.entry-content > a ,
.photos-slider2 .slider-content h2,
.photos-slider2-content  h3,
.book-taxi-form  .btn,
.about > h3 ,
.about > h2,
.about a,
.more-than-you > h3,
.service-box > h3,
.service-box > h2,
.service-box.content span,
.service-box.content > a,
.service-box.book-now a,
.page-heading > h3,
.blog-area h3,
.widget-title h3 ,
.recent-post-box h3,
.recent-title a,
.map .content h3 {
	text-transform: uppercase;
}

/* - Padding/Margin */
.no-padding {
	padding: 0;
}
.no-left-padding,
ul {
	padding-left: 0;
}
.no-right-padding {
	padding-right: 0;
}
.no-top-padding {
	padding-top: 0;
}
.no-bottom-padding {
	padding-bottom: 0;
}
.no-margin {
	margin: 0;
}
.no-left-margin {
	margin-left: 0;
}
.no-right-margin {
	margin-right: 0;
}
.no-top-margin {
	padding-top: 0;
}
.no-bottom-margin {
	margin-bottom: 0;
}

/* - Section Header */
.section-header {	
	position: relative;
	background: url("./images/icon/seprator.png");
	background-repeat: no-repeat;
	background-position: bottom;
	display: inline-block;
	width: 100%;
}

/* - Section Padding */
.section-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

	/* ## Header */
	/* - Top Header */
	.top-header {
		background-color: #f5f5f5;
		padding-bottom: 1px;
		padding-top: 1px;
	}
	/* -- Social */
	.social li {
		display: inline-block;
		margin-left: 15px;
		margin-right: 15px;
	}
	.social li:first-child {
		margin-left: 0;
	}
	.social li:last-child {
		margin-right: 0;
	}
	
	/* -- Top Menu */
	.top-header .top-menu {
		text-align: right;
	}
	.top-header .top-menu ul {
		padding-left: 0;
	}
	.top-header .top-menu ul{
		display: inline-block;
		list-style: none;
	}
	.top-header .top-menu ul li {
		float: left;
		padding-left: 22px;
		padding-right: 22px;
		position: relative;
		font-size: 13px;
	}
	.top-header .top-menu ul li a {
		color: #555;		
		text-transform: capitalize;
		text-decoration: none;
	}
	.top-header .top-menu ul li a:hover {
		color: #de302f;
	}
	.top-header .top-menu ul li:first-child {
		padding-left: 0;
	}
	.top-header .top-menu ul li:last-child {
		padding-right: 0;
	}
	.top-header .top-menu ul li:before {
		content: "|";
		position: absolute;
		left: -1px;
	}
	.top-header .top-menu ul li:first-child:before {
		content: "";	
	}
	
	/* -- Logo block */
	.middle-header {
		padding-bottom: 33px;
		padding-top: 33px;
		background-color: #fff;
	}
	.logo-block {
		position: relative;
	}
	.logo-block a {
		padding-left: 102px;
		display: inline-block;
		text-decoration: none;
	}
	.logo-block a img {
		position: absolute;
		left: 55px;
	}
	.logo-block a b {
		text-transform: uppercase;
		font-size: 24px;
		display: block;
		color: #000;
		margin-top: 3px;
	}
	.logo-block a span {
		font-size: 13px;
		color: #8c8b8b;
		float: left;
		margin-top: -6px;
	}
	.navbar-brand.logo-block {	
		display: none;
	}
	.middle-header .col-md-6 {
		text-align: right;
	}
	.location,
	.phone {
		position: relative;
		padding-left: 46px;
		display: inline-block;
		text-align: left;
	}
	.location {
		margin-right: 32px;
	}
	.location > img,
	.phone > img {
		position: absolute;
		left: 0;
	}
	.location p {
		font-size: 16px;
	}
	.location p span,
	.phone p span	{
		display: block;
	}
	.phone {
		margin-left: 32px;
	}
	.phone > img { 
		top: 7px;
	}
	.phone p {
		font-size: 15px;
		font-weight: 300;
		text-transform: uppercase;
	}
	.phone p span {
		font-size: 20px;
		font-weight: 600;
		color: #de302f;
	}

    /***********************for slider************************/
    * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



    @media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }


}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}



    .intro {
  position: relative;
margin-bottom:0px;
}
.intro.fixed-height {
  height: 700px;
}
.reservation {
  position: relative;
    width: 325px;
    float: right;
    box-shadow: 0 2px 2px;
}
@media (max-width: 992px) {
  .intro .reservation {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .intro .reservation {
    width: 100%;
  }
}
.reservation.absolute-bottom {
  top: 350px;
  width: 100%;
}
.reservation.absolute-bottom .reservation-form {
  padding: 0;
  height: 155px;
}
.reservation.absolute-bottom .reservation-form .location {
  padding-right: 25px;
  padding-left: 25px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.reservation.absolute-bottom .reservation-form .car-type {
  padding-left: 0;
  display: inline-block;
  width: 210px;
  vertical-align: top;
}
.reservation.absolute-bottom .reservation-form .date {
  padding-right: 25px;
  padding-left: 25px;
  display: inline-block;
  width: 360px;
  vertical-align: top;
}
.reservation.absolute-bottom .reservation-form .date .pick-up {
  margin-right: 10px;
  float: left;
  width: 140px;
}
.reservation.absolute-bottom .reservation-form .date .return {
  margin-left: 10px;
  float: left;
  width: 140px;
}
.reservation.absolute-bottom .reservation-form .cta-button {
  padding: 30px;
  float: right;
  display: inline-block;
  width: 230px;
  height: 155px;
}
.reservation.absolute-bottom .reservation-form .cta-button button {
  margin-top: 20px;
}
.reservation .reservation-form {
  padding-top: 10px;
}
.reservation .reservation-form.light-skin {
  background: rgba(255, 255, 255, 0.9);
}
.reservation .reservation-form.dark-skin {
  background: rgba(0, 0, 0, 0.5);
}
.reservation .reservation-form.dark-skin .step-title {
  color: #ffffff;
}
.reservation .reservation-form.dark-skin .checkbox-input.active label:before {
  color: #333333;
}
.reservation .checkbox-input label {
  color: rgba(255, 255, 255, 0.5);
}
.reservation .reservation-step {
    position: relative;
    padding: 0 15px;
    display: inline-block;
    width: 100%;
}
.reservation .reservation-step .step-number {
  position: absolute;
  top: 0;
  left: -10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
      background: #11ace4;
    color: #fff;
    display:none;
}
.reservation .reservation-step .step-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align:left;
}
.reservation .reservation-step.location {
  position: relative;
  padding-bottom: 0px;
}
.reservation .reservation-step.location input {
  margin-bottom: 0px;
}
.intro .reservation .reservation-step.date {
  position: relative;
  padding-bottom: 0px;
}
.intro .reservation .reservation-step.date .calendar-input {
  position: relative;
}
.reservation .reservation-step.date .calendar-input i {
  position: absolute;
    padding: 5px;
    top: 40%;
    right: 40px;
    margin-top: -12px;
}
.reservation .reservation-step.car-type {
  position: relative;
  padding-bottom: 30px;
}
.reservation .cta-button {
  position: relative;
  padding: 20px 15px;
  text-align: center;
  background: #11ace4;
}
.reservation .cta-button button {
 /* width: 225px; */
   max-width: 100%;
}

    .intro .short-cuts {
  position: relative;
  /*width: 360px;*/
}
.intro .short-cuts li {
    position: relative;
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.4);
    border: 1px solid #fff;
}
.intro .short-cuts li a {
  display: block;
  color: #333333;
  font-weight: 700;
}
.intro .short-cuts li a:hover .icon-ahead {
  background: #fff;
}
.intro .short-cuts li a:hover .icon-ahead i {
  color: #11ace4;
}
.intro .short-cuts li a .icon-left {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 88px;
  text-align: center;
  line-height: 80px;
  background: #11ace4;
}
.intro .short-cuts li a .icon-left i {
  color: #fff;
  line-height: 88px;
}
.intro .short-cuts li a .icon-ahead {
  position: absolute;
  right: 25px;
  top: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display:none;
}
.intro .short-cuts li a .icon-ahead i {
  color: #333333;
}
.intro .short-cuts li a span {
  padding: 23px 10px 23px 10px;
  display: block;
  vertical-align: top;
	color:#11ace4;
	font-size:30px;
	font-family:lato;
}
@media (max-width: 992px) {
  .intro .short-cuts {
    margin: 40px auto 0 auto;
    float: none;
  }
}

@media (max-width: 480px) {
  .intro .short-cuts {
    width: 100%;
  }
  .intro .short-cuts li a .icon-left {
    display: none;
  }
  .intro .short-cuts li a span {
    padding-left: 30px;
  }
}

.intro .intro-text {
  	position: relative;
    margin-top: 0;
    /* float: left; */
    text-align: left;
    text-align: left;
    width: 95%;
}
.intro .intro-text h1 {
  font-size: 30px;
  color: #ffffff;
}
.intro .intro-text h5 {
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}
@media (max-width: 992px) {
  .intro .intro-text {
    margin-top: 150px;
    float: none;
    text-align: center;
  }
}

    .news-posts {
  position: relative;
  padding: 100px 0;
}
.news-posts .post-header {
  padding: 0 0 15px 0;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.news-posts .post-header h5 {
  margin: 0;
  float: left;
  font-size: 18px;
}
.news-posts .post-header span {
  float: right;
}
.news-posts .woocommerce {
  width: 100%;
  float: left;
}
.news-posts .woocommerce .woocommerce-info {
  padding: 13px 25px;
  margin-bottom: 10px;
  background: #f3f3f3;
  border: 1px solid #d9d9d9;
}
.news-posts .woocommerce .woocommerce-billing-fields {
  position: relative;
  margin-top: 30px;
}
.news-posts .woocommerce .woocommerce-billing-fields h3 {
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
}
.news-posts .woocommerce .woocommerce-shipping-fields {
  position: relative;
  margin-top: 30px;
}
.news-posts .woocommerce .woocommerce-shipping-fields h3 {
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
}
.news-posts .woocommerce #order_review_heading {
  font-size: 18px;
}
.news-posts .woocommerce .woocommerce-checkout-review-order-table {
  text-align: center;
}
.news-posts .woocommerce .woocommerce-checkout-review-order-table small {
  color: #808080;
}
.news-posts .woocommerce .cart_item .product-quantity {
  border: 1px solid #d9d9d9;
  border-width: 0 1px;
}
.news-posts .woocommerce .shipping_calculator {
  margin-top: 30px;
  width: 50%;
}
.news-posts .woocommerce .shipping_calculator h2 {
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
}
.news-posts .woocommerce .shipping_calculator button {
  margin-top: 10px;
  float: right;
}
.news-posts .woocommerce .shipping_calculator button:hover {
  color: #ffffff;
}
.news-posts .woocommerce .cart-subtotal {
  border-top: 1px solid #d9d9d9;
}
.news-posts .woocommerce .cart_totals h2 {
  padding: 0 0 15px 0;
  margin: 20px 0 20px 0;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
}
.news-posts .woocommerce .cart-subtotal th,
.news-posts .woocommerce .order-total th,
.news-posts .woocommerce .shipping th {
  background: #f3f3f3;
  border-right: 1px solid #d9d9d9;
}
.news-posts .woocommerce .wc-proceed-to-checkout .button {
  margin-top: 20px;
  float: right;
}
.news-posts .woocommerce .woocommerce-checkout #payment {
  background: #f3f3f3;
}
.news-posts .woocommerce .cart_item .product-name {
  border-right: 1px solid #d9d9d9;
}
.news-posts .woocommerce button,
.news-posts .woocommerce .button.alt,
.news-posts .woocommerce input[type="submit"] {
  position: relative;
  padding: 13px 12px;
  display: inline-block;
  height: 40px;
  text-align: center;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #333333;
  border-radius: 0;
}
.news-posts .woocommerce button:hover,
.news-posts .woocommerce .button.alt:hover,
.news-posts .woocommerce input[type="submit"]:hover {
  background: #4d4d4d;
}
.news-posts .woocommerce select {
  padding: 0 15px;
  height: 40px;
  width: 100%;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}
.news-posts .woocommerce input[type="text"],
.news-posts .woocommerce input[type="password"] {
  padding: 0 15px;
  height: 40px;
  width: 100%;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 0;
}
.news-posts .woocommerce textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}
.news-posts .woocommerce textarea#order_comments {
  height: 70px;
}

.pick-up-location,
.returnon-location {
  padding: 9px 15px;
    margin: 0;
    height: 40px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #e0e0e0;
    color: #ADAAAA;
    font-family: "Open sans",Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background: #fff;
    width: 100% !important;
}


.header-logo img {
    width: 200px;
    margin-top: -12%;
    margin-left: 0;
    position:absolute;
}

.header-logo
{
	float:left;
}

img#car1, img#car2 {
    width: 220px;
}

div#main-heading {
    text-align: center;
    color: #fff;
	margin-bottom:50px;
}

#main-heading h5, #main-heading h1 {
    color: #fff;
font-family: lato;
    font-weight: normal;
}

#main-heading h5 {
    font-size: 25px;
    margin-top:-22px;
}

    .call-us
{
	position: absolute;
	background: rgba(255, 255, 255, 0);
	padding: 15px; 
	right: 0;
	top: -10%;
}

img#call-us-icon {
    height: 40px;
    margin:0;
    margin-right:10px;
    float:right;
}

.call-us h2.main-title {
    font-size: 20px;
    margin-top:0;
    text-align:right;
}

.call-us h4 {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.call-us
{
position: relative;background: rgba(255,255,255,0);padding: 15px;/* margin-top: -50px; *//* margin-right: -50px; */right: 0px;
}

.ticker {
	height: 50px;
	overflow: hidden;
	border: 0px solid #fff;
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 2px;
	box-shadow: 0;
	background-color:rgba(0,0,0,0.6);
	width:100%;
}

#ticker_02 {
	height: 160px;
}

.ticker li {
	padding: 8px;
	margin: 5px 5px;
	color:#fff;
	font-size:20px;
	/*padding:10px 20px;*/
}

@media (min-width: 1400px)
{
div#wowslider-container2 {
    margin-top: 150px;
}
}

@media (max-width: 768px) {

.header-logo
{
float:none;
text-align:center;
}

.header-logo img {
    width: 200px;
    margin-top: -50px;
    margin-left: auto;
    position:relative;
    margin-bottom:50px;
}

.call-us
{
position: relative;background: rgba(255,255,255,0);padding: 15px;/* margin-top: -50px; *//* margin-right: -50px; */right: 0px;top: -50px;
}

.reservation {
    position: relative;
    width: 375px;
    float: none;
    box-shadow: 0 2px 2px;
    margin: 15px auto 50px;
}

.about .heading {
    margin-bottom: 50px;
    float: none;
    width: 50%;
    /* margin-left: 0; */
    margin: 0 auto;
}

.quick-quote
{
	float:none;
	margin:0 auto;
    max-width:100%;
}

.about .heading {
    margin-bottom: 0px;
    float: none;
    width: 90%;
    margin-left: auto;
}

.social-signin
{
	float:none;	
	width:100%;
	margin-bottom:30px;
	border-bottom:1px solid rgb(230,230,230);
	padding-bottom:30px;
}

img.login-img {
    float: none;
    margin: 8px auto;
}

.manual-signin
{
	width:100%;
	border-right:none;
}

.manual-signin .input 
{
    width: 100%;
}

.contact-details
{
	width:100%;
	background-color:#fff;
	padding:0px;
	min-height:375px;
	float:none; 
	border-right:none;
	text-align:left;
	padding-right:5%;
}

.contact-form
{
	width:100%;
	border-right:none;
	border-bottom:1px solid rgb(230,230,230);
	padding-bottom:30px;
	margin-bottom:30px;
}

.contact-form .input 
{
    width: 90%;
}

.contact-details h4.heading
{
	margin-bottom:20px;
	text-transform: capitalize;
	text-align:center;
	width:100%;
}

}


#wowslider-container2 { 
	zoom: 1; 
	position: relative; 
	/*max-width:100px;*/
	margin:0px auto 0px;
	z-index:90;
	border:5px solid rgba(220, 220, 220, 0.6);
	text-align:left; /* reset align=center */
}
* html #wowslider-container2{ width:100px }
#wowslider-container2 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:auto;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container2 .ws_images ul li{
	width:1%;
	line-height:0; /*opera*/
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container2 .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wowslider-container2 .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container2 img{
	max-width: none !important;
}
#wowslider-container2 .ws_images img{
	width:85%;
	border:none 0;
	max-width: none;
	padding:0;
}
#wowslider-container2 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container2  .ws_bullets { 
	font-size: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container2  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container2  .wsl{
	display:none;
}
#wowslider-container2 sound, 
#wowslider-container2 object{
	position:absolute;
}
#wowslider-container2  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container2 .ws_bullets a { 
	width:20px;
	height:20px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:7px;
	color:transparent;
}
#wowslider-container2 .ws_bullets a:hover{
	background-position: 0 50%;	
}
#wowslider-container2 .ws_bullets a.ws_selbull{ 
	background-position: 0 100%;
}	
#wowslider-container2 a.ws_next, #wowslider-container2 a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-24px;
	z-index:60;
	height: 50px;
	width: 50px;
	background-image: url(./arrows.png);
	
}
#wowslider-container2 a.ws_next{
	background-position: 100% 0;
	right:5px;
	display:none;
}
#wowslider-container2 a.ws_prev {
	left:5px;
	background-position: 0 0; 
	display:none;
}
#wowslider-container2 a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container2 a.ws_prev:hover {
	background-position: 0 100%; 
}
* html #wowslider-container2 a.ws_next,* html #wowslider-container2 a.ws_prev{display:none}
#wowslider-container2:hover a.ws_next, #wowslider-container2:hover a.ws_prev {display:none}
/* bottom center */
#wowslider-container2  .ws_bullets {
    bottom: 0px;
	left:50%;
}
#wowslider-container2  .ws_bullets div{
	left:-50%;
}
#wowslider-container2 .ws-title{
	position:absolute;
	display:block;
	bottom: 30px;
	left: 0px;
	margin-right:10px;
	padding:9px;
	background-color:rgba(220, 220, 220, 0.6);
	color:#000000;
	z-index: 50;
	font-family:'Arimo', Arial, Helvetica, sans-serif;
	font-size: 24px;	
	line-height: 26px;	
	font-weight: bold;
	border-radius:0px 2px 2px 0px;
	-moz-border-radius:0px 2px 2px 0px;
	-webkit-border-radius:0px 2px 2px 0px;
}
#wowslider-container2 .ws-title div{
	margin-top: 6px;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #222222;
}

#wowslider-container2 .ws_images ul{
	animation: wsBasic 12s infinite;
	-moz-animation: wsBasic 12s infinite;
	-webkit-animation: wsBasic 12s infinite;
}
@keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-moz-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }

#wowslider-container2 .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-16px;
	visibility:hidden;
	position:absolute;
    border: 4px solid rgba(220, 220, 220, 0.6);
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	max-width:none;
}
#wowslider-container2 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container2 .ws_bulframe div div{
	height:48px;
	overflow:visible;
	position:relative;
}
#wowslider-container2 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:32px;
	background-color:rgba(220, 220, 220, 0.6);
}
#wowslider-container2  .ws_bullets .ws_bulframe{
	display:none;
	bottom:25px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 4px solid rgba(220, 220, 220, 0.6);
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#wowslider-container2 .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-10px;
	margin-left:-1px;
	left:16px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}

    /*****************************************************************************/



/* - Navigation Menu */
/* - Social Icons */

/* ## Footer */
.footer-main {
	background-image: url("images/footer-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 98px;
}
.bottom-footer {
	background-color: #171717;
	padding: 30px 0;
}
.bottom-footer ul {
	margin-bottom: 0;
	list-style: none;
}
.bottom-footer ul li {
	float: left;
	padding: 0 8px;
	position: relative;
}
.bottom-footer ul li:before {
	content: "|";
	color: #fff;
	position: absolute;
	left: -4px;
	top: 0;
}
.bottom-footer ul li:first-child:before {
	content: "";
}
.bottom-footer ul li a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
}
.bottom-footer p {
	margin-bottom: 0;
	color: #fff;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
}
/* -- Widget */
/* -- Widget Subsribe */
.widget-subscribe .subscribe-box {
	display: inline-block;
	padding: 16px 35px;
	border: 1px solid rgba(209,209,209,0.2);
	color: #eee;
}
.subscribe-box h4 {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
	color: #fff;
}
.subscribe-box p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 15px;
}
.subscribe-box input {
	border: none;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 12px;
	height: auto;
}
.subscribe-box input:focus {
	box-shadow: none;
}
.subscribe-box input,
.subscribe-box .input-group-btn > .btn {
	border-radius: 0;
	outline: none;
}
.subscribe-box .input-group-btn > .btn {
	text-transform: uppercase;
	background-color: #f7b731;
	border-color: #f7b731;
	padding-top: 11px;
	padding-bottom: 11px;
}
.widget-subscribe  ul {
	margin-top: 22px;
	list-style: none;
}
.widget-subscribe  ul li {
	float: left;
	margin: 0 10px;
}
.widget-subscribe  ul li a {
	width: 32px;
	height: 35px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.widget-subscribe  ul li a img {
	position: absolute;
}
.widget-subscribe  ul li a:hover img {
	top: -38px;
}

.footer-main .widget-title {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0;
	color: #fff;
	margin-bottom: 22px;
	background-image: none;
}

/* -- Widget Links */
.footer-main .widget {
	width: 100%;
	display: inline-block;
	margin-bottom: 21px;
}
.widget-links ul li {
	display: inline-block;
	width: 100%;
	margin-bottom: 7px;
}
.widget-links ul li:last-child { 
	margin-bottom: 0;
}
.widget-links ul li a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}
.widget-links ul li a:before {
	content: "";
	background-image: url("images/icon/ftr-link.png");
	background-repeat: no-repeat;
	width: 7px;
	height: 10px;
	display: inline-block;
	margin-right: 14px;
}

/* -- Widget About */
.widget-about {
	color: #fff;
	font-size: 14px;
}
.widget-about p {
	margin-bottom: 23px;
}
.widget-about li {
	display: inline-block;
	width: 100%;
	position: relative;
	line-height: 19px;
	padding-left: 55px;
	margin-bottom: 18px;
	font-weight: bold;
}
.widget-about li span {
	display: block;
}
.widget-about li img {
	position: absolute;
	left: 0;
	top: 0;
}
.widget-about li:last-child  {
	margin-bottom: 0;
}
.widget-about li a {
	color: #fff;
	font-weight: normal;
}

/* ## Responsive */
		
/* -- min-width: 992 to max-width: 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	/* ## Header */	
	.location, .phone {
		margin: 0;
	}
}

/* -- min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* ## Header */	
	.location, .phone {
		margin: 0;
	}
}

/* -- min-width: 319 to max-width: 767 */
@media only screen and (min-width: 319px) and (max-width: 767px) {	
	/* ## Header */
	.top-header .social,
	.top-header .top-menu,
	.logo-block,
	.middle-header .col-md-6	{
		width: 100%;
		text-align: center;
	}
	.top-header .social {
		margin-bottom: 14px;
	}
	.top-header .top-menu {
		padding: 0;
	}
	.top-header .top-menu ul li {
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.logo-block {
		margin-bottom: 33px;
	}
	.logo-block a {
		max-width: 220px;
		display: inline-block;
		position: relative;
	}
	.logo-block a img {
		left: 0;
	}
	.location, .phone {
		margin: 0;
	}	
	
	/* ## Footer */
	.bottom-footer ul,
	.bottom-footer p {	
		width: 100%;
		text-align: center;
	}
	.bottom-footer,
	.bottom-footer ul,
	.bottom-footer ul li {
		float: none;
		display: inline-block;
	}
	.bottom-footer ul {
		margin-bottom: 10px;
	}
}

/* -- min-width: 991 */
@media (max-width: 991px) {
	
}

/* ## min-width: 1200 */
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}