
.logo
{
	width: 700px;
	float: left;
}

.contact-box
{
	width: 300px;
	float: left;
	text-align: center;
}

body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 13px;
	background:url(../images/pop.jpg) no-repeat center top;
	
}

h1
{
	border-bottom: 1px solid #ddd;
	padding-bottom:20px;
}
.imgborder
{
	border: 1px solid #ddd;
	padding:2px;
}
ul li
{
	padding-bottom:10px;
}

.bg
{
	width: 900px;
	margin:0 auto;
	background:url(../images/bg1.jpg)no-repeat bottom left;
	border:1px solid #ddd;
	border-radius:10px;
	-moz-box-shadow:    inset 0 0 7px #ccc;
   -webkit-box-shadow: inset 0 0 7px #ccc;
   box-shadow:         inset 0 0 7px #ccc;
}

.privacybg
{
	width: 900px;
	margin:0 auto;
	border:1px solid #ddd;
	border-radius:10px;
	-moz-box-shadow:    inset 0 0 7px #ccc;
   -webkit-box-shadow: inset 0 0 7px #ccc;
   box-shadow:         inset 0 0 7px #ccc;
   text-align:justify;
}

.content
{
	padding:70px 20px 20px 20px;
}

a, a:visited
{
	color:#00A0E3;
	text-decoration: none;
}
a:hover
{
	text-decoration:underline;
}