/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
div[id*="ascrail"] {
    opacity: 0;
    visibility: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    /*overflow-y: auto;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

    #wrapper.toggled #sidebar-wrapper .dtxt {
        display: none;
    }

    #wrapper.toggled #sidebar-wrapper .dash-ct {
        width: auto;
    }

    #wrapper.toggled #sidebar-wrapper span[class*="-icon"] {
        float: none;
    }

    #wrapper.toggled #sidebar-wrapper span[class*="-icon"] {
        float: none;
    }

    #wrapper.toggled #sidebar-wrapper .logo {
        display: block;
        overflow: hidden;
        width: 50px !important;
        height: 30px;
        margin: 0 5px;
        position: relative;
    }

        #wrapper.toggled #sidebar-wrapper .logo img {
            position: absolute;
            left: -16px;
            top: 0;
        }

    #wrapper.toggled #sidebar-wrapper .tggletxt {
        display: none;
    }

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 60px;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 60px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#menu-toggle {
      top: 50%;
    left: 100%;
    position: absolute;
    border-radius: 0 40px 40px 0;
    border-left-width: 0;
    margin-top: -16px;
    /* background-color: #F2F2F2; */
    /* font-size: 16px; */
    padding-top: 40px;
    padding-bottom: 20px;
    height: 100px;
    width: 20px;
    padding-left: 5px;
}

    #menu-toggle i {
        line-height: 15px;
        vertical-align: middle;
    }

#wrapper.toggled #sidebar-wrapper #menu-toggle .fa-chevron-right,
#wrapper.toggled #sidebar-wrapper #menu-toggle .glyphicon-chevron-right {
    display: block;
}

#wrapper.toggled #sidebar-wrapper #menu-toggle .fa-chevron-left,
#wrapper.toggled #sidebar-wrapper #menu-toggle .glyphicon-chevron-left {
    display: none;
}

#wrapper #sidebar-wrapper #menu-toggle .fa-chevron-right,
#wrapper.toggled #sidebar-wrapper #menu-toggle .glyphicon-chevron-right {
    display: none;
}

#wrapper #sidebar-wrapper #menu-toggle .fa-chevron-left,
#wrapper.toggled #sidebar-wrapper #menu-toggle .glyphicon-chevron-left {
    display: block;
}
