﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DriverMaster.master.cs" Inherits="CUT.Driver.DriverMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>BWI :: Driver DashBoard</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="../dist/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="../assets/css/custom.css" rel="stylesheet" media="screen" />
    <link href="../assets/css/dashboard.css" rel="stylesheet" media="screen" />
    <!-- Carousel -->
    <link href="../examples/carousel/carousel.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="../dist/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="../assets/css/custom.css" rel="stylesheet" media="screen" />
    <link href="../assets/css/dashboard.css" rel="stylesheet" media="screen" />

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <link href="../assets/css/simple-sidebar.css" rel="stylesheet" media="screen" />

    <!-- Carousel -->
    <link href="../examples/carousel/carousel.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css" media="screen" />

    <link rel="stylesheet" href="../assets/css/jquery-ui.css" />
    <link href="../datatables/css/demo_page.css" rel="stylesheet" />
    <link href="../datatables/css/demo_table.css" rel="stylesheet" />
    <link href="../updates/update1/css/masonry.css" rel="stylesheet" />
    <link href="../updates/update1/css/style01.css" rel="stylesheet" />
    <link href="../datatables/css/demo_table_jui.css" rel="stylesheet" />
    <link href="../datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="../scripts/CheckSession.js" type="text/javascript"></script>
    <link href="../datatables/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <!-- jQuery -->
    <script type="text/javascript" src="../assets/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.v2.0.3.js"></script>
    <script type="text/javascript" src="../datatables/js/jquery.dataTables.min.js"></script>
    <%--<script type="text/javascript" src="scripts/Authorization.js"></script>
    <script type="text/javascript" src="scripts/logout.js"></script>--%>
   <%-- <script type="text/javascript" src="scripts/AgentDashboard.js"></script>
    <script type="text/javascript" src="scripts/jquery.canvasjs.min.js"></script>--%>
   <%--  <script type="text/javascript" src="../theme/js/jquery-1.11.3.min.js"></script>--%>
    <script type="text/javascript" src="../assets/js/jquery.v2.0.3.js"></script>
    <script type="text/javascript" src="../datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../Scripts/Default.js"></script>
    <script type="text/javascript" src="../Scripts/CheckSession.js" ></script>
    <%--    <script type="text/javascript">
        function disableBackButton() {
            window.history.forward();
        }
        setTimeout("disableBackButton()", 0);
    </script>--%>
    <script type="text/javascript">
        $(document).keyup(function (e) {
            if (e.keyCode == 13) {
                btnSubmit_Click();
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $("#image").css("display", "");
        });
        $(document).ajaxComplete(function () {
            setTimeout(function () { $("#image").css("display", "none") }, 1500);
        });
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="top">
    <div class="modal-dialog" id="image" style="display: none; width: 69px; height: 89px; position: absolute; top: 50%; left: 50%; padding: 2px;">
        <img alt="" src="../images/circleloadinganimation.gif" width="128" height="128" /><br />

    </div>
    <!-- CONTENT -->
    <div id="wrapper" class="container2">
        <div class="container2 offset-0">
            <!-- CONTENT -->
            <div class="col-md-12  offset-0">
                <div id="sidebar-wrapper">
                    <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i></a>

                    <!-- LEFT MENU -->
                    <div class="dashboard-left offset-0 textcenter">
                        <br />
                        <br />
                        <a href="#">
                            <img style="width:100px;padding-bottom:10px" src="../images/logoshuttle.png" alt="" /></a><br />
                       <%-- <span class="size12 grey lh5">Driver</span><br />--%>
                        <a href="#">
                            <img style="padding-bottom:5px" src="../images/dash/DriverLogo.png" class="dash-avatar" alt="" /></a><br />
                        <span class="size12 dark">Driver's Panel</span><br />
                        <a>
                            <img src="../images/dash/logout.png" alt="" style="cursor: pointer;" onclick="LogOut();" /></a><br />
                        (Logout)
                   
                    <br />
                        <br />
                        <!-- Nav tabs -->
                        <ul class="nav dashboard-tabs">
                            <li class="dropdown"><a class="dtxt" href="DriverDashBoard.aspx">
                                <div class="dash-ct">
                                    <span class="dashboard-icon left"></span><span class="dtxt" title="Dashboard">Dashboard</span>
                                </div>
                          </a></li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <div class="dash-ct">
                                    <span class="appearance-icon left"></span><span class="dtxt">Setting <b class="lightcaret"></b></span>
                                </div>
                            </a>
                                <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu2 lftwidth">
                                    <li id=""><a style="cursor: pointer" href="Profile.aspx"><i class="fa fa-cogs" title="Image"></i>&nbsp Profile</a></li>
                                    <li id=""><a style="cursor: pointer" href="ChangePassword.aspx"><i class="fa fa-key" title="Image"></i>&nbsp Change Password</a></li>
                                </ul>
                            </li>

                        </ul>
                        <br />
                        <span class="dtxt"><span class="size12 grey">Copyright &copy; 2017.
                        </span>
                            <br />
                            <br />
                            <br />
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <!-- LEFT MENU -->
                <!-- RIGHT CPNTENT -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="dashboard-right  offset-0">
                            <!-- Tab panes from left menu -->
                            <div class="tab-content5">
                                <!-- TAB 1 -->
                                <div class="tab-pane cpadding20 active" id="profile">

                                    <%------------------------------------------------------------%>
                                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                    </asp:ContentPlaceHolder>
                                    <%----------------------------------------------------------------%>
                                </div>
                                <!-- END OF TAB 1 -->
                                <!-- DROPDOWN 1 -->
                                <div class="tab-pane padding40" id="dropdown1">
                                    dropdown1
                       
                                </div>
                                <!-- END OF DROPDOWN 1 -->
                                <!-- DROPDOWN 2 -->
                                <div class="tab-pane padding40" id="dropdown2">
                                    Updates
                       
                                </div>
                                <!-- END OF DROPDOWN 2 -->
                                <!-- TAB 2 -->
                                <div class="tab-pane padding40" id="packages1">
                                    <div class="padding40">
                                    </div>
                                </div>
                                <!-- END OF TAB 2 -->
                                <!-- TAB 3 -->
                                <div class="tab-pane" id="media">
                                    <div class="padding40">
                                        Media - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 3 -->
                                <!-- TAB 4 -->
                                <div class="tab-pane" id="pages">
                                    <div class="padding40">
                                        Pages - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 4 -->
                                <!-- TAB 5 -->
                                <div class="tab-pane" id="comments">
                                    <div class="padding40">
                                        Comments - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 5 -->
                                <!-- TAB 6 -->
                                <div class="tab-pane" id="forums">
                                    <div class="padding40">
                                        Forums - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 6 -->
                                <!-- TAB 7 -->
                                <div class="tab-pane" id="topics">
                                    <div class="padding40">
                                        Topics - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 7 -->
                                <!-- TAB 8 -->
                                <div class="tab-pane" id="replies">
                                    <div class="padding40">
                                        Replies - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 8 -->
                                <!-- TAB 9 -->
                                <div class="tab-pane" id="appearance">
                                    <div class="padding40">
                                        Appearance - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 9 -->
                                <!-- TAB 10 -->
                                <div class="tab-pane" id="plugins">
                                    <div class="padding40">
                                        Plugins - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 10 -->
                                <!-- TAB 11 -->
                                <div class="tab-pane" id="users">
                                    <div class="padding40">
                                        Users - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 11 -->
                                <!-- TAB 12 -->
                                <div class="tab-pane" id="tools">
                                    <div class="padding40">
                                        Tools - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 12 -->
                                <!-- TAB 13 -->
                                <div class="tab-pane" id="settings">
                                    <div class="padding40">
                                        Settings - comingsoon
                           
                                    </div>
                                </div>
                                <!-- END OF TAB 13 -->
                            </div>
                            <!-- End of Tab panes from left menu -->
                        </div>
                    </div>
                </div>
                <!-- END OF RIGHT CPNTENT -->
                <div class="clearfix">
                </div>
                <br />
                <br />
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
    <!-- END OF CONTENT -->
    <div class="masternotice none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Message from TitanicThemes
    </div>

    <!-- This page JS -->
    <script type="text/javascript" src="../assets/js/js-index.js"></script>
    <script type="text/javascript" src="../assets/js/js-dashboard.js"></script>

    <!-- Sparkline -->
    <script type="text/javascript" src="../assets/js/jquery.sparkline.js"></script>

    <!-- Custom functions -->
    <script type="text/javascript" src="../assets/js/functions.js"></script>

    <!-- Counter -->
    <script type="text/javascript" src="../assets/js/counter.js"></script>

    <!-- Picker UI-->
    <script type="text/javascript" src="../assets/js/jquery-ui.js"></script>

    <!-- Easing -->
    <script type="text/javascript" src="../assets/js/jquery.easing.js"></script>

    <!-- Nicescroll  -->
    <script type="text/javascript" src="../assets/js/jquery.nicescroll.min.js"></script>

    <!-- CarouFredSel -->
    <script type="text/javascript" src="../assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

    <!-- Custom Select -->
    <script type='text/javascript' src='../assets/js/jquery.customSelect.js'></script>


    <script type='text/javascript' src="../dist/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script type='text/javascript'>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <div class="modal fade" id="ModelMessege" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="width: 40%; padding-top: 15%">

            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true" onclick="cleartextboxesHotelBeds()">&times;</span></button>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="frow2">
                            <div>
                                <center><span id="SpnMessege"></span></center>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</body>
</html>
