﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Driver/DriverMaster.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="CUT.Driver.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
